*,
*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-size: 14px;
    font-family: "Microsoft YaHei", sans-serif;
    color: #333333;
}

ul, ol {
    list-style: none
}

a {
    text-decoration: none;
    color: #333333;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;
    -webkit-appearance: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix::before,
.clearFix::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}
[class^="icon_"],
[class*=" icon_"]{
    background-repeat: no-repeat;
    background-image: url("../images/sprites.png");
    -webkit-background-size: 200px;
    background-size: 200px;}