html, body {
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
}

.topbar {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    background: url("../images/header-bg.png") 0 0/1px 44px;
    position: absolute;
    top: 0;
    left: 0;
}

.topbar a {
    width: 40px;
    height: 44px;
    padding: 12px 10px;
    position: absolute;
    top: 0;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    background-clip: content-box;
}

.topbar .icon_back {
    left: 0;
    background-position: -20px 0;
}

.topbar .icon_menu {
    right: 0;
    background-position: -60px 0;
}

.topbar form {
    width: 100%;
    padding: 0 40px;
}

.topbar form input {
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 10px;
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 45px;
}

.main .cateLeft {
    width: 90px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.main .cateLeft ul {
    width: 90px;
}

.main .cateLeft ul li {
    width: 90px;
    height: 50px;
    line-height: 50px;
    background-color: #f3f4f5;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.main .cateLeft ul li.now{
    border-right: none;
    background-color: #fff;}

.main .cateLeft ul li a {
    display: block;
    width: 100%;
}
.main .cateLeft ul li.now a{color: #d8505c}

.main .cateRight {
    overflow: hidden;
    height: 100%;
    background-color: #fff;
}
.cateRight_box{
    width: 100%;
    padding: 0 10px;}
.cateRight_box .banner{
    width: 100%;
    display: block;
    margin-top: 10px;
    }

.cateRight_box .banner img{
    width: 100%;
    display: block;}
.cateRight_box .hot{margin-top: 10px;}
.cateRight_box .hot h3{font-size: 12px;}
.cateRight_box .hot ul{
    width: 100%;}
.cateRight_box .hot ul li{
    width: 33.3333%;
    float: left;
    padding-top: 5px;}
.cateRight_box .hot ul li a{
    display: block;
    width: 100%;}
.cateRight_box .hot ul li a img{
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;}
.cateRight_box .hot ul li a p{font-size: 12px;
    text-align: center;
    padding: 5px 0;}